.bg-box {
    width: 805px;
    height: 496px;
    margin: 0 auto;
    background: 
    url("https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg") 
    no-repeat 
    50% 50% / 400px 300px,

    url("https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png") 
    repeat-x 
    left bottom / 200px,
    
    url("https://www.freeiconspng.com/uploads/lamp-png-0.png")
    repeat-x
    left top / 40px,

    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru")
    repeat-y
    left top / 30px,

    url("https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png")
    repeat-y
    right top / 30px,

    #29700a;
}